/* navbar main div */
.logo {
    display: flex;
    margin-left: 10px;
    position: sticky;
    align-items: center;
    top: 0px;
    background-color: white;
}

/* youtube ke aageka icon ka div */
.menu {
    display: inline-block;
    margin-top: 1px;
}

/* youtube logo div */
.youtube {
    margin-top: -14px;
    margin-left: 10px;
}

/* input div */
.input {
    z-index: 1000;
    border-left: none;
    outline: none;
    height: 35px;
    width: 200px;
    padding-right: 250px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 220px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: none;
    background-color: #F8F8F8;
    border-left: 2px solid rgb(184, 180, 180);
    border-bottom: 2px solid rgb(184, 180, 180);
    border-top: 2px solid rgb(184, 180, 180);
}

/* serachbar div */
.serachbar {
    display: flex;
    align-items: center;
}

.button {
    color: rgb(184, 180, 180);
    height: 40px;
    margin-right: 20px;
    border: 2px solid rgb(184, 180, 180);
    border-radius: 0px 20px 20px 0px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(184, 180, 180);
}

/* mic div */
.mic {
    height: 40px;
    color: #000;
    margin-top: 5px;
    border: none;
    padding-top: 3px;
    border-radius: 100%;
}

/*  videocam div */
.mar {
    height: 40px;
    color: #000;
    margin-top: 5px;
    border: none;
    padding-top: 3px;
    border-radius: 100%;
    margin-left: 200px;
}

/* notifications div */
.mars {
    height: 40px;
    color: #000;
    margin-top: 5px;
    border: none;
    padding-top: 3px;
    border-radius: 100%;
    margin-left: 80px;
}

/* side ka main div*/
.sidemain {
    width: 10%;
    height: 550px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto", "Arial", sans-serif;
    position: static;
    background-color: white;
}

/* side me jo main hai uska and text ka div  */
.sidebar {
    display: flex;
}

/* arrow_forward_ios ka sif div */
.sidebars {
    display: flex;
    align-items: center;
}

/* h4 ka div */
.sidebar h4 {
    padding: -20px -12px;
    font-family: Roboto, Noto, sans-serif;
    font-size: 14px;
}

/* icone ka div*/
.home {
    margin-top: 12px;
}

.home1 h4 {
    margin-bottom: 12px;
}

/* line ka div */
hr {
    color: #d4d4d47a;
}

/* icone ke link ka class */
.small {
    font-size: 15px;
    margin-left: 5px;
}

/* jaydeep imge ka div */
.jaydeep {
    display: flex;
    align-items: center;
}

/* sabhi youtber ka image ka div */
.bgimg {
    border-radius: 50%;
    margin-right: 15px;
    font-family: "Roboto", "Arial", sans-serif;
}

.dismain {
    display: flex;
}

/* magag or video or kashyap or text ka div  */
.Video {

    width: 100%;
}

/* uper ka jo hai uaka div */
.magag {
    z-index: 1000;
    display: flex;
    align-items: center;
    position: sticky;
    top: 45px;
    background-color: white;
    height: 120px;
}

/* h4 or text ka main div */
.kashyap {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: lightgrey;
    margin-left: 20px;
    border-radius: 5px;
    height: 20px;
    width: auto;
    padding: 7px;
}

/* h4 ka text ka div */
.text {
    font-family: "Roboto", "Arial", sans-serif;
}

/* first line ke 3no div ka main div  */
.maa {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* videwo ka main div */
.bb {
    display: flex;
}

/* video ka second vala div */
.all {
    margin-left: 50px;
}

/* youtube ke video ka div */
.bc {
    display: flex;
    align-items: center;

}

/* userlogo ka div */
.userlogo {
    margin-left: 50px;

}

/* userlogo me image ka div */
.userlogo img {
    border-radius: 100px;
    margin-left: 29px;
}

/* userdata ka div */
.uersdata {
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 250px;
    width: 200px;
    display: none;
    right: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
}

/* myprofile ka div */
.MyProfile {
    color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 5px 7px;
}

/*  h4 ka div */
h4 {
    color: black;
    text-decoration: none;
}

/* icone ke link ka div */
.material-symbols-outlined {
    color: black;
    margin-right: 20px;
}

/* myprofile ka button ka div */
.MyProfile button {
    padding: 8px 50px;
    margin: 8px 10px 0px;
    border: 1px solid #5d87ff;
    border-radius: 5px;
}

/* myprofile ka div */
.MyProfile button:hover {
    background-color: #5d87ff;
    color: white;
}
.all:hover{
 transform: scale(1.1);
}
.kashyap:hover{
    transform: scale(1.1);
}